#travelPlan {
}
#travelPlanTitle {

}
#travelPlanTitleSelect {
    width: 70%;
    display: inline-block;
    vertical-align: center;
}
#travelPlanCalendar {
    width: 10%;
    display: inline-block;
    vertical-align: center;
    font-size: 1em;
    color: blue;
}
#btnTravelPlanCalendar {
    font-size: 1em;
    color: Tomato;
}
#travelPlanCreate {
    width: 10%;
    display: inline-block;
    vertical-align: center;
}
#btnTravelPlanCreate {
    font-size: 1em;
    color: blue;
}
#travelPlanDelete {
    width: 10%;
    display: inline-block;
    vertical-align: center;
}
#btnTravelPlanDelete {
    font-size: 1em;
    color: blue;
}
#travelPlanList {
    display: flex;
    flex-direction: column;
}
.travelPlanItem {
    border-color: gray;
    border-top: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    height: 50px;
}
.travelPlanItemNameAndDuration {
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.travelPlanItemName {
    height: 60%;
    vertical-align: text-bottom;
}
.travelPlanItemDuration {
    height: 40%;
    vertical-align: text-bottom;
}
.travelPlanItemBtn {
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.btnItemMoveUp {
    height: 100%;
    display: inline-block;
    font-size: 1em;
    color: blue;
    margin-right: 5px;
}
.btnItemMoveDown {
    height: 100%;
    display: inline-block;
    font-size: 1em;
    color: blue;
    margin-right: 5px;
}
.btnItemDelete {
    height: 100%;
    display: inline-block;
    font-size: 1em;
    color: blue;
    margin-right: 5px;
}